.navbar-div {
  display: flex;
  flex: 1;
  gap: 15px;
  background-color: black;
  height: 60px;
  padding: 10px;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
}

.navbar-logo {
  height: 50px;
  width: 50px;
}

.navbar-title {
  color: white;
}

.quiz-timer-form {
  height: calc(100vh - 60px - 20px);
  display: flex;
  flex-direction: column;
}

.quiz-player-turn-stats-timer {
  height: 50px;
  text-align: right;
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.quiz-form-wrapper {
  height: calc(100vh - 60px - 50px - 150px);

  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
